<ion-view view-title="Cadastrar">
  <ion-content>
    <div class="list">
      <section class="login-container">
          <div class = "col header text-center">
             <img src="./img/logo_2_slogan_horizontal.png" class = "logo" />
          </div>
          <form>
          <div class="item item-divider">
              Nome
          </div>
          <label class="item item-input">
            <span class="input-label">Nome:</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Sobrenome:</span>
            <input type="text">
          </label>
          <div class="item item-divider">
              Crie sua Conta
          </div>
          <label class="item item-input">
            <span class="input-label">Usuario:</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Senha:</span>
            <input type="password">
          </label>
          <label class="item item-input">
            <span class="input-label">Confirme a Senha:</span>
            <input type="password">
          </label>
          <div class="item item-divider">
              Contato
          </div>
          <label class="item item-input">
            <span class="input-label">Telefone:</span>
            <input type="text">
          </label>
          <p></p>
          <button class="button button-block button-calm">
            <i class="icon ion-person-add"></i> Cadastrar
          </button>
          </form>
      </section>
    </div>
  </ion-content>
</ion-view>
